# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/src/routes/sesion_whatsapp
/src/routes/sesion_whatsappp
/keys
/.pnp
.pnp.js
/.wwebjs_auth
/.package-lock.json
/.package.json
/.wwebjs_cache
/src/imagenesvenderoras

